* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #25282A;
}

.slider {
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.navigation {
    display: flex;
    justify-content: end;
}

.container__item:nth-child(2) {
    max-width: 100%;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: end;
    margin-top: -30px;
}

.bar {
    height: 10px;
    width: 10px;
    cursor: pointer;
    margin: 6px;
    background-color: #6FA4CC;
    border-radius: 5px;
    transition: .3s;
}

.bar:hover {
    background-color: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slide {
    width: 25%;
    transition: .7s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r2:checked ~ .images {
    transform: translateX(-25%);
}

#r3:checked ~ .images {
    transform: translateX(-50%);
}

#r4:checked ~ .images {
    transform: translateX(-75%);
}

.container__item-text {
    /* width: 50%; */
    /* overflow: hidden; */
    /* padding-top: 20px; */
}

.container__item-text-items {
    display: flex;
    transition: 1s ease-in;
    font-size: 2em;
}

#r2:checked+#r3+#r4+.images+.text>.words {
    transform: translateX(-100%);
}

#r3:checked+#r4+.images+.text>.words {
    transform: translateX(-200%);
}

#r4:checked+.images+.text>.words {
    transform: translateX(-300%);
}

p {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.images {
    grid-column: 1/3;
    display: flex;
    height: 70vh;
    overflow: hidden;
    width: 400%;
    align-items: center;
    justify-content: center;
    background-color: rgba(219, 254, 253, 0.2);
    transition: .7s ease-in;
}

.image {
    flex-grow: 0;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    width: 50%;
    overflow: hidden;
}

.words {
    display: flex;
    transition: .5s ease-in;
    font-size: 2em;
}